/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --bg-image-url: url("_imgs/intro-bg.jpg");
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0, 0, 0) var(--bg-image-url) center/cover no-repeat;
}

.login-container {
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #444444;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
}

.form-group input:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(98, 99, 101, 0.3);
}

.login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

/*
.extra-links {
    text-align: center;
    margin-top: 15px;
}
*/

/*.extra-links a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    transition: color 0.3s;
}*/

/*
.extra-links a:hover {
    color: #0056b3;
}
*/
